/* common style */
.main-card {
  border: none;
}
.white-line {
  background-color: white;
  position: sticky;
  top: 100px;
  width: 100%;
  height: 10px;
}
.main-card-heading {        /* slight modified */
  color: white;
  text-transform: uppercase;
  background-color: #305496;
  position: sticky;
  top: 0px;
  margin-left: -10px;
  width: calc (100% + 10px);
  max-height: 40px;
}

.main-card-body {
  min-height: 100vh;
  background-color: white;
}

/* common style */

.btn-secondary {
  background-color: #fbb335;
  color: #305496;
}

.label-color {
  color: #fbb335;
}

.tab-color {
  background-color: #fbb335;
}

.selectedTab-color {
  background-color: #305496;
}

.value-color {
  color: #305496;
}

.btn-secondary:hover {
  background-color: #305496 !important;
  color: #fbb335 !important;
}

.btn-secondary:active,
.btn-secondary:focus {
  box-shadow: none !important;
}


.gf {
  max-height: calc(100vh - 120px);
  overflow-x: auto;
  overflow-y: auto;
  margin-left: -10px;
  margin-top: -21px;
  border-radius: 0px;
}


.label-H3 {
  color:#fbb335;
  font-weight: bolder;
  width: fit-content;
  border-bottom:#fbb335;
  border-width: 3px;
  border-style: double;
  border-top:0;
  border-left: 0;
  border-right: 0;
  margin-left: 0px;
  margin-top: 10px;
  text-transform: uppercase;
}


/* scroll bar design */
::-webkit-scrollbar{
  width: 8px;
  height: 12px
}
::-webkit-scrollbar-track-piece{
  box-shadow: inset 0 0 5px #305496;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
  background:#fbb335;
}

