<!-- Background image-->
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(48, 84, 150, 0.2);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white" style="font-weight: bolder">
            <br>
            <br>
            <br>
            <h2 class="mb-4">FREQUENTLY ASKED QUESTIONS</h2>
            <br>
            <br>
            <br>
            <p style= "font-size: 25px; color: #fbb335">You may have some questions for that you may find the answers.</p>
            <br>
            <!--<p style = "font-size: 25px;">Good Faith's Web Applications (web-based software) helps the professionals to carry out the contract expert tasks.</p>
            <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
            rel="nofollow" target="_blank">Start tutorial</a>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
            role="button">Download MDB UI KIT</a> -->
        </div>
        </div>
    </div>
</div>

<main class="mt-5"> 
    <!--Section: Content 1-->    
    <div class="mask" style="background-color: rgba(48, 84, 150, 0);">
    <section>
      <div class="row" style = "color: #104a90;">
        <div class="col-md-12 gx-5 mb-4 CA1">
            <div class="row">
            <div class="col-md-3 gx-5 mb-4 CA1" style = "color: #104a90;">
                <h4>Good Faith</h4>
            </div>
            <div class="col-md-9 gx-5 mb-4 CA1">
                <h3>1.	Who is Good Faith?</h3>
                <p>Good Faith is a limited liability company. Good Faith departments are Contract Audit Bureau and Contract Software Bureau. </p>
                <p>Good Faith – Contract Audit Bureau - primary service is Contract Auditing Services. Moreover, it provides Contract Management Services that include claims and dispute management. Further, it provides a Contract Counsel Programme (Corporate Training) to empower the contract knowledge.</p>
                <p>Good Faith – Contract Software Bureau – is a department of Good Faith. It researches and develops web applications (web-based software) for simplifying contract expert tasks. It has launched a Web Application 1. <b style="color: #104a90;">ClaimDD</b>.</p>
                <h3>2.  Does Good Faith provide Claims Consultant Services?</h3>
                <p>Yes, Good Faith provides Claims Consultant Services in addition to its primary service, Contract Auditing. Further details can be found at <a href="https://www.goodfaith.llc/" target="_blank"> www.GoodFaith.LLC</a>.</p>
                <h3>3.  Does Good Faith develop custom contract software for the user?</h3>
                <p> Good Faith can develop custom software to carry out contract tasks effectively as required by the user. However, it shall develop such custom software only if it would provide a global solution.</p>
                <h3>4.  Can Good Faith help to justify the Delay and Disruption Cost evaluated using ClaimDD?</h3>
                <p> Good Faith’s Contract Audit Bureau can help justify such a cost claim. However, as such service is not part of the subscription user shall pay applicable fees to Good Faith.</p>
            
            
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-3 gx-5 mb-4 CA1">
                <h4>ClaimDD</h4>
            </div>
            <div class="col-md-9 gx-5 mb-4 CA1">
                <h3>1.	What is the purpose of ClaimDD?</h3>
                <p>ClaimDD is a Web Application (web-based software) that helps the user evaluate the Delay and/or Disruption Cost incurred by the Claimant for any event.</p>
                <h3>2.  Who Can Use ClaimDD?</h3>
                <p>ClaimDD is data-driven web application. Thus, it can be used by anyone who wants to evaluate the Delay and/or Disruption Cost incurred by the Claimant. It can be used by <strong style="color: #104a90;">the Contractor, Subcontractor, Claims Consultant, Consultant, and Client.</strong></p>
                <h3>3.  Can I have a Demo for ClaimDD?</h3>
                <p>Yes, demo for ClaimDD can be arranged upon the request. The request can be sent via <strong style="color: #104a90;"><a href ="../home/demo/">Demo Request.</a></strong></p>
                <h3>4.  What is the limit of the number of Projects?</h3>
                <p>ClaimDD can be used for any number of Projects subject to purchased Project Count.</p>
                <h3>5.  How much does ClaimDD cost?</h3>
                <p>ClaimDD cost is depends on number of Projects (Project Count) and maximum value of the Project (Project Value Limit). It is available monthly, quarterly, half-yearly, and yearly subscriptions. </p>
                <p>The cost can be evaluated under the <strong style="color: #104a90;"><a href ="../home/pricing/" style="color: #104a90; text-decoration: underline;">Pricing page</a></strong> .</p>
                <h3>6.  Is there any free plan?</h3>
                <p>Yes, ClaimDD is available for free for 3 months under trial license. The trial license can be used for <strong style="color: #104a90;">one (1) project only.</strong> </p>
                <h3>7.  What is the difference between various subscription periods such as monthly, quarterly, half-yearly and yearly?</h3>
                <p>You can choose to pay the subscription for the period of one month, 3 months, 6 months or annual (12 months) at a time. The <strong>monthly (unit) price differs for each subscription period</strong> (where you can save up to 20%). Please be noted that you can import the data only the subscription period.</p>
                <h3>8.  What happens when I reach the Project Count?</h3>
                <p>When you used all the purchased Project Count, you shall no longer be able to add a new Project. You either need to upgrade the plan or deactivate the existing Project's license key to add a new Project.</p>
            </div>
        </div>
    </div>
</div>
</section>
</div>

</main>   