<div class=" main-card-heading" style="z-index: 2;">
  <div style=" display: inline"></div>
  <div class="row">
    <div>
      <h5 class="h5-heading label-color" class=" card-header">CONTEMPORARY RECORDS</h5>
    </div>
</div>
</div><br>

<div class="main-card card gf">
  
  <!-- body elements -->
  <div style="margin-left: 20px; margin-right: 20px;">
    <div>
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm">
          <button type="button" class="btn btn-info btn-mg" (click)="openUploadForm(modalData)">UPLOAD</button>
          <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;" (click)="onPreview()">PREVIEW</button>
        </div>
        <div class="col-sm-2" style="text-align: right;">
         <!-- <button type="button" class="btn btn-info btn-mg">EXPORT</button> -->
        </div>
        <div class="col-sm-1">

        </div>
      </div>

      <div class="row">
        <div class="col-sm" style="padding-left: 0;">
          <div class="col-sm">
            <h5 class="label-H3">NOTICES/LETTERS (FORMAL DOCUMENTS ONLY)</h5>
            <button type="button" class="btn btn-primary" (click)="selected = 'sentByClaimant'">Sent by Claimant</button><br>
            <button type="button" class="btn btn-primary">Received by Claimant</button><br>
          </div>
          <div class="col-sm" style="margin-top: 30px;">
            <h5 class="label-H3">REPORTS</h5>
            <button type="button" class="btn btn-primary">Daily Report</button><br>
            <button type="button" class="btn btn-primary">Weekly Report</button><br>
            <button type="button" class="btn btn-primary">Monthly Report</button>
          </div>
          <div class="col-sm" style="margin-top: 30px;">
            <h5 class="label-H3">CLAIMS</h5>
            <button type="button" class="btn btn-primary">Claim by Claimant</button><br>
            <button type="button" class="btn btn-primary">Claim Reply by Defendant</button><br>
            <button type="button" class="btn btn-primary">Claim by Subcontractor</button>
          </div>
        </div>
        <div class="col-sm">
          <div class="col-sm">
            <h5 class="label-H3">PROGRAMMES</h5>
            <button type="button" class="btn btn-primary">Accepted Program</button><br>
            <button type="button" class="btn btn-primary">Non-Accepted Program</button><br>

          </div>
          <div class="col-sm" style="margin-top: 30px;">
            <h5 class="label-H3">OTHER DOCUMENTS</h5>
            <button type="button" class="btn btn-primary">Delayed Payments (Only cover letter and Payment
              Summary)</button><br>
            <button type="button" class="btn btn-primary">Submittals - Drawing</button><br>
            <button type="button" class="btn btn-primary">Submittals - Material</button>
            <button type="button" class="btn btn-primary">Submittals - Others</button>
            <button type="button" class="btn btn-primary">Emails</button>
            <button type="button" class="btn btn-primary">Other Documents</button>
            <button type="submit" class="btn btn-secondary float-right">Next</button>

          </div>
        </div>
        <div class="col-sm-1">

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Upload Form-->
<ng-template #modalData let-modal>
  <div class="modal-header" style="background-color: #fbb335; color: white">
      <h4 class="modal-title" id="modal-basic-title">Upload Document</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body" style="background-color: #305496; color: #fbb335">
      <form [formGroup]="uploadDocForm" (ngSubmit)="onUpload()">
          <div class="mb-3">
              <label for="documentDate" class="form-label">Document Date</label>
              <input formControlName="documentDate" type="date" class="form-control" id="documentDate"
                  aria-describedby="documentDate">
              <div *ngIf="
              !uploadDocForm.get('documentDate').valid &&
              uploadDocForm.get('documentDate').touched
            " class="text-danger">
                  Please choose a username.
              </div>
          </div>

          <div class="mb-3">
              <label for="file" class="form-label">File</label>
              <input formControlName="email" type="file" class="form-control" id="file"
                  aria-describedby="file">
              <div *ngIf="
              !uploadDocForm.get('file').valid &&
              uploadDocForm.get('file').touched
            " class="text-danger">
                  Please choose a email.
              </div>
          </div>
          <button type="submit"
              class="btn btn-secondary mr-2">Update</button>

          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Exit</button>

      </form>
  </div>

</ng-template>
