<div class=" main-card-heading" style="z-index: 2;">
  <div style=" display: inline"></div>
  <div class="row">
    <div>
      <h5 class="h5-heading label-color" class=" card-header">CONTEMPORARY RECORDS</h5>
    </div>
</div>
</div><br>

<div class="main-card card gf">
  
  <!-- body elements -->
  <div style="margin-left: 20px; margin-right: 20px;">
    <div>
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm">
          <button type="button" class="btn btn-info btn-mg">IMPORT</button>
          <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;">PREVIEW</button>
        </div>
        <div class="col-sm-2" style="text-align: right;">
         <!-- <button type="button" class="btn btn-info btn-mg">EXPORT</button> -->
        </div>
        <div class="col-sm-1">

        </div>
      </div>

      <div class="row">
        <div class="col-sm" style="padding-left: 0;">
          <div class="col-sm">
            <h5 class="label-H3">NOTICES/LETTERS</h5>
            <button type="button" class="btn btn-primary">Sent by Claimant</button><br>
            <button type="button" class="btn btn-primary">Received by Claimant</button><br>
          </div>
          <div class="col-sm" style="margin-top: 30px;">
            <h5 class="label-H3">REPORTS</h5>
            <button type="button" class="btn btn-primary">Daily Report</button><br>
            <button type="button" class="btn btn-primary">Weekly Report</button><br>
            <button type="button" class="btn btn-primary">Monthly Report</button>
          </div>
          <div class="col-sm" style="margin-top: 30px;">
            <h5 class="label-H3">CLAIMS</h5>
            <button type="button" class="btn btn-primary">Claim by Claimant</button><br>
            <button type="button" class="btn btn-primary">Claim Reply by Defendant</button><br>
            <button type="button" class="btn btn-primary">Claim by Subcontractor</button>
          </div>
        </div>
        <div class="col-sm">
          <div class="col-sm">
            <h5 class="label-H3">PROGRAMMES</h5>
            <button type="button" class="btn btn-primary">Accepted Program</button><br>
            <button type="button" class="btn btn-primary">Non-Accepted Program</button><br>

          </div>
          <div class="col-sm" style="margin-top: 30px;">
            <h5 class="label-H3">OTHER DOCUMENTS</h5>
            <button type="button" class="btn btn-primary">Delayed Payments (Only cover letter and Payment
              Summary)</button><br>
            <button type="button" class="btn btn-primary">Submittals - Drawing</button><br>
            <button type="button" class="btn btn-primary">Submittals - Material</button>
            <button type="button" class="btn btn-primary">Submittals - Others</button>
            <button type="button" class="btn btn-primary">Emails</button>
            <button type="button" class="btn btn-primary">Other Documents</button>
            <button type="submit" class="btn btn-secondary float-right">Next</button>

          </div>
        </div>
        <div class="col-sm-1">

        </div>

      </div>
    </div>
  </div>
</div>
