<!-- Background image-->
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(48, 84, 150, 0.2);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white" style="font-weight: bolder">
            <br>
            <br>
            <br>
            <h2 class="mb-4">PRIVACY POLICY</h2>
            <br>
            <br>
            <br>
            <p style= "font-size: 25px; color: #fbb335">Good Faith shall not share your personal and project data to third party.</p>
            <br>
            <!--<p style = "font-size: 25px;">Good Faith's Web Applications (web-based software) helps the professionals to carry out the contract expert tasks.</p>
            <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
            rel="nofollow" target="_blank">Start tutorial</a>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
            role="button">Download MDB UI KIT</a> -->
        </div>
        </div>
    </div>
</div>

<main class="mt-5"> 
    <!--Section: Content 1-->    
    <div class="mask" style="background-color: rgba(48, 84, 150, 0);">
    <section>
      <div class="row" style = "color: #104a90;">
        <div class="col-md-12 gx-5 mb-4 CA1" style = "color: #104a90;">
            <h4>1.	Introduction</h4>
            <p>
                <span class="hint-number">1.1.</span> 
                <span class="text">
                    Good Faith – Contract Software Bureau – and it’s Web Applications (https://GoodFaith.App) (the “Web Apps") is owned and operated by Good Faith Cost Control & Risk Management Services LLC (known as Good Faith – Contract Audit Bureau), a company registered in Dubai, UAE (hereinafter referred as “Good Faith”).
                </span>
            </p>
            <p>
                <span class="hint-number">1.2.</span> 
                <span class="text">
                    This Privacy Notice (“Privacy Notice”) explains how we collect, use, protect, and disclose your information when you use the Web Apps. It also describes the choices available to you regarding the use of, your access to, and how to update and correct your personal information. “You” refers to you as a visitor or a user of the Web Apps.
                </span>
            </p>
            <p>
                <span class="hint-number">1.3.</span> 
                <span class="text">
                    This Privacy Notice applies to the Personal Information we collect and use as a data controller. For much of the Personal Information we collect and process through Web Apps, we act as a processor/service provider and will only process such information on behalf of and in accordance with the instructions of our customers <strong>(“Contract Party”)</strong> and their authorized users.
                </span>
            </p>

            <h4>2.	Confidential Information</h4>
            <p>Contract Party and its authorized users of Web Apps regularly provide its company and/or project data such as financial information, labour cost, material cost, productivity data, and counter party information (“Confidential Information”) to Web Apps as part of their use of Web Apps.</p>
            <p>Good Faith does not use and/or share the Confidential Information without prior consent of the Contract Party.</p>
            
            <h4>3.	Information We Collect</h4>
            <p style="margin-left: 0px;">We collect information that related to your business and other personal information about you or users whose information you provide to us when you sign up for or use the Web Apps (“Personal Information”). Personal Information may include:</p>
            <p>
                <span class="hint-number">3.1.</span>
                <span class="text">
                    	Contract Party Data: Contract Party and authorized users of Web Apps regularly provide Contract Party Data to Web Apps as part of their use of Web Apps. Web Apps collects this information under the direction of its Contract Party and has no direct relationship with the individuals whose personal data it processes. We will retain personal data we process on behalf of Contract Party for as long as needed to provide services to Contract Party or as otherwise necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
                </span>
            </p>

            <p>
                <span class="hint-number">3.2.</span>
                <span class="text">
                    	License Information: When we create/update an License, the Contract Party may provide us with account information associated with the Instance, such as email address, business address, phone number, password, domain, and/or similar account details. This information may also include credit card or other financial account information in connection with an order to purchase Web Apps. We use this information for account management and billing purposes.
                </span>
            </p>

            <p>
                <span class="hint-number">3.3.</span>
                <span class="text">
                    	Information You Provide to Us via the Web Apps: When using the Web Apps or signing up to use certain areas of the Web Apps, we may collect and receive the following information from you, including:<br>
                        a)	your name, phone number, and other contact details, including the company you work for, for example when filling out a request via the Web Apps for a demo.<br>
                        b)	any other information you may provide to us voluntarily through your use of our Web Apps.

                </span>
            </p>
            <p>
                <span class="hint-number">3.4.</span>
                <span class="text">
                    	<strong>Information from Other Sources:</strong> We may receive information about you from other sources, including your company or third parties who are Good Faith customers/users, and combine this data with information we already have about you. This helps us update, expand, and analyze our records. If others give us your information, we will only use that information for the specific reason for which it was provided to us.
                </span>
            </p>
            <p>
                <span class="hint-number">3.5.</span>
                <span class="text">
                    <strong>Information We Collect Automatically:</strong> We automatically collect information regarding the actions you take on the Web Apps. In jurisdictions within the European Economic Area (“EEA”) and some jurisdictions, this information is considered Personal Information under applicable data protection laws. This type of usage data helps us understand trends in our users’ needs so we can better consider new features or otherwise tailor the Web Apps. We may share this usage data with third parties for various purposes, including to help us better understand our customers’ needs and improve the Web Apps.
                </span>
            </p>
            <p>
                <span class="hint-number">3.6.</span>
                <span class="text">
                	When you use the Web Apps, some examples of the usage data we may collect include:
                </span>
                <span class="text" style="margin-left: 25px;">
                    •	the type of Web browser you use<br>
                    •	your operating system<br>
                    •	your web requests<br>
                    •	your Internet Service Provider<br>
                    •	location data, such as your IP address<br>
                    •	referring/exit pages and URLs<br>
                    •	the pages you view and how you interact with links<br>
                    •	the time and duration of your visits to the Web Apps; and<br>
                    •	other information relating to your devices and your activity on the Web Apps.<br>
                    We may store such usage data itself and such information may be included in databases owned and maintained by Good Faith affiliates, agents, or service providers. We may use such information and pool it with other information, for example, to track the total number of visitors to our Web Apps or users of Buildsys, the number of visitors to each page of our Web Apps, etc. We use this information to help us understand how people use the Web Apps, and to enhance the Web Apps.

                </span>
            </p>
            <h4>4.	Tracking Technologies</h4>
            <p>
                <span class="hint-number">4.1.</span>
                <span class="text">
                    <strong>Cookies and Web Beacons:</strong> We may use cookies (a small text file placed on your computer to identify your computer and browser) and web beacons (a file placed on a website that monitors usage) to improve the experience of the Web Apps, such as pre-populating your username for easier login, to allow user-specific messaging, or to permit user-specific advertising.
                </span>
            </p>
            <p>
                <span class="hint-number">4.2.</span>
                <span class="text">
                    	<strong>Do Not Track:</strong> At this time, Web Apps does not recognize automated browser signals regarding tracking, including “do-not-track” signals.
                </span>
            </p>
            <p>
                <span class="hint-number">4.3.</span>
                <span class="text">
                   	<strong>Third Party Technologies:</strong> Third parties, such as ad servers, ad networks, and data exchanges (“Advertisers”) may place or recognize a unique cookie on your computer or use other technologies such as web beacons so that they can tailor their advertisements to your apparent interests and deliver those advertisements to you while you are on our Web Apps. In addition, Advertisers use technologies (such as cookies, pixels, and web beacons) to collect information about your browsing behavior on our Web Apps which they may match with information they have previously collected. Our Privacy Notice does not cover any use of information that Advertisers may collect from you or that you choose to provide to them.
                </span>
            </p>
            <p>
                <span class="hint-number">4.4.</span>
                <span class="text">
                    	<strong>Social Media Widgets:</strong> <span>Our website may include social media features, such as the Facebook Like button, and widgets, such as the “Share this” button or interactive mini-programs that run on our website. These</span> features may collect your Internet protocol address, which page you are visiting on our website, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our website. Your interactions with these features are governed by the privacy statement of the company providing the features.
                </span>
            </p>
            <h4>5.	How We Use Your Information</h4>
            <p style="margin-left: 0px;">We may use your Personal Information for the following purposes:</p>
            <p>
                <span class="hint-number">5.1.</span>
                <span class="text">
                    	<strong>Provision and Monitoring of the Web Apps:</strong> We will use your Personal Information to provide you with access to and to support your use portions of the Web Apps, and to monitor your use of the Web Apps.
                </span>
            </p>
            <p style="margin-bottom: 0px;">
                <span class="hint-number">5.2.</span>
                <span class="text">
                    <strong>Surveys, Contests, and Other Special Offers:</strong> From time to time, we may offer our users the opportunity to participate in surveys, contests, and other special offers. If you elect to participate in these services, you will need to provide certain Personal Information.
                </span>
            </p>
            <p>
                <span class="hint-number">5.3.</span>
                <span class="text">
                    <strong> Questions and Requests:</strong> If you contact us by email or otherwise, we will use the Personal Information you provide to answer your question or resolve your problem.
                </span>
            </p>
            <p>
                <span class="hint-number">5.4.</span>
                <span class="text">
                    <strong>Contacting You About Other Products, Services, and Events:</strong> Good Faith and, if you opt-in, third parties may use your Personal Information to contact you in the future to tell you about products, services, and events that may be of interest to you. You can find information on how to opt-out of contact from Good Faith in the “Your Rights” section below.
                </span>
            </p>
            <p>
                <span class="hint-number">5.5.</span>
                <span class="text">
                    <strong>Marketing, Research, and Data Analysis:</strong> In an ongoing effort to better understand and serve the users of the Web Apps, Good Faith may conduct research on its customers’ and users’ demographics, interests, and behavior based on Usage Data and other information provided to us. This data may be compiled and analyzed on an aggregate and/or anonymized/deidentified basis, and Good Faith may share this data with advertisers, researchers, business partners, publications, and other third parties. This information will not identify you or users personally.
                </span>
            </p>
            <p>
                <span class="hint-number">5.6.</span>
                <span class="text">
                    	<strong>Service Improvement:</strong> We may use your Personal Information, aggregated Personal Information, and other information collected through the Web Apps to help us improve the content and functionality of the Web Apps, to better understand our users, and to improve the Web Apps.
                </span>
            </p>
            <p>
                <span class="hint-number">5.7.</span>
                <span class="text">
                    <strong>Order Fulfillment:</strong> We may use your Personal Information that you provide to fulfill any orders you may place for Web Apps or other products and services offered by Good Faith.
                </span>
            </p>
            <p>
                <span class="hint-number">5.8.</span>
                <span class="text">
                    <strong>Testimonials:</strong> We display personal testimonials of satisfied customers on our site in addition to other endorsements. By posting a testimonial, you give your consent for Good Faith to use your testimonial, along with your name, in all media.
                </span>
            </p>
            <h4>6.	Who We Share Your Personal Information With:</h4>
            <p>
                <span class="hint-number">6.1.</span>
                <span class="text">
                	You may make certain of your Personal Information available to others, such as your name or username, for example when you create a profile or submit public queries. This information may be accessed by users who use the Web Apps and may be accessed by commercial search engines such as Google, Yahoo, and Bing to the extent that such engines are permitted to access the Web Apps.
                </span>
            </p>
            <p>
                <span class="hint-number">6.2.</span>
                <span class="text" style="padding-left: 35px;">
                	We may disclose your Personal Information to the following categories of recipients:
                </span>
            </p>
            
            <div class="" style="width: 100%; padding-left: 45px;">
                <p style="margin-bottom: 5px; width: 100%;">
                    <span class="hint-number">a)</span>
                    <span class="text" style="padding-left: 15px;"  >
                        our subsidiaries who provide data processing services to us (for example, to support the delivery of Web Apps)
                    </span>
                </p>
                <p style="margin-bottom: 5px;">
                    <span class="hint-number">b)</span>
                    <span class="text">
                        co-sponsors of events you attend, or other businesses that we believe to be trustworthy and have privacy practices consistent with ours (“Subprocessors”). For example, we contract with Subprocessors to provide certain services, such as hosting and maintenance, accounting, data analytics, data storage and management, and marketing and promotions. We only provide our Subprocessors with the information necessary for them to perform these services on our behalf. Each Subprocessor must agree to use reasonable security procedures and practices, appropriate to the nature of the information involved, to protect your Personal Information from unauthorized access, use, or disclosure. Subprocessors are prohibited from using Personal Information other than as specified by Good Faith.
                    </span>
                </p>
                <p style="margin-bottom: 5px;">
                    <span class="hint-number">c)</span>
                    <span class="text">
                        in response to lawful requests by public authorities, including to meet national security or law enforcement requirements. Good Faith will cooperate with government and law enforcement officials and private parties to enforce and comply with the law. We may disclose Personal Information and any other content and information about you to government or law enforcement officials or private parties if, in our discretion, we believe it is necessary or appropriate in order to respond to or comply with legal requests (including court orders and subpoenas), to protect the safety, property, or rights of Good Faith or of any third party, to prevent or stop any illegal, unethical, or legally actionable activity, or to comply with the law;
                    </span>
                </p>
                <p style="margin-bottom: 5px;">
                    <span class="hint-number">d)</span>
                    <span class="text">
                        a potential buyer (and its agents and advisers) in connection with any proposed purchase, merger, or acquisition of any part of our business, provided that we inform the buyer it must use your Personal Information only for the purposes disclosed in this Privacy Notice; and
                    </span>
                </p>
                <p>
                    <span class="hint-number">e)</span>
                    <span class="text"  style="padding-left: 15px;">
                        any other person with your consent to the disclosure.
                    </span>
                </p>
            </div>
            <h4>7.	Be Careful When You Share Information with Others</h4>
            <p style="margin-left: 0px;">
                Please be aware that whenever you share information on a publicly available page or any other public forum on the Web Apps, others may access that information. In addition, please remember that when you share information in any other communications with third parties, that information may be passed along or made public by others. This means that anyone with access to such information can potentially use it for any purpose, including sending unsolicited communications.
            </p>
            <h4>8.	Security</h4>
            <p style="margin-left: 0px;">At Good Faith, we are serious about information security, and have implemented numerous security measures to achieve that goal.</p>
            <p style="margin-left: 0px;">However, you should be aware that no data transmission over the internet or other network can be guaranteed to be 100% secure. As a result, while we strive to protect information transmitted on or through the Web Apps, we cannot and do not guarantee the security of any information you transmit on or through the Web Apps, and you do so at your own risk. If you have any questions about the security of your Personal Information, you can contact us using the information provided in the How to Contact Us section below.</p>
            <h4>9.	Children’s Privacy</h4>
            <p style="margin-left: 0px;">We do not knowingly collect Personal Information from children under the age of 13. If we become aware that we have inadvertently received Personal Information from a child under the age of 13, we will delete such information from our records.</p>
            <h4>10.	International Data Transfers</h4>
            <p style="margin-left: 0px;">
                Your Personal Information may be transferred to and processed in countries other than the country in which you are a resident. These countries may have data protection laws that are different to the laws of your country (and, in some cases, may not be as protective). However, we have taken appropriate safeguards to require that your Personal Information will remain protected in accordance with this Privacy Notice.
            </p>
            <h4>11.	Data Retention</h4>
            <p style="margin-left: 0px;">
                We will retain your information for as long as your account is active or where we have an ongoing business need to do so (for example, to comply with applicable, legal, tax, or accounting requirements). We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
            </p>
            <p style="margin-left: 0px;">When we have no ongoing legitimate business need to process your Personal Information, we may either delete or deidentify it, or, if this is not possible (for example, because your Personal Information has been stored in backup archives), then we will securely store your Personal Information and isolate it from any further processing until deletion is possible.</p>
            <h4>12.	Third Parties/Links</h4>
            <p style="margin-left: 0px;">Our Web Apps may contain links or integrate with other websites and online services or allow others to send you such links. Good Faith is not responsible or liable for any damage or loss related to your use of any third-party website or online service. You should always read the terms and conditions and privacy policy of a third-party website or online service before using it, whether directly or in connection with your use of the Web Apps. Third parties may collect, but we do not authorize them to collect, personally identifiable information about your online activities over time and across different websites when you use the Web Apps.</p>
            <h4>13.	Privacy Notice Changes</h4>
            <p style="margin-left: 0px;">From time to time, we may change this Privacy Notice. When we do, we will take appropriate measures to inform you if necessary, consistent with the significance of the changes we make. For example, we may give you or our Contract Party notice by posting the revised Privacy Notice on the Web Apps prior to the change becoming effective.</p>
            <p style="margin-left: 0px;"><span>This Privacy Notice was last updated on 1 September 2022 (“Effective Date”). Any changes will go into effect on the Effective Date. </span></p>
            <p style="margin-left: 0px;">Please print a copy of this Privacy Notice for your records.</p>
            <h4>14.	How to Contact Us</h4>
            <p style="margin-left: 0px; margin-bottom: 0px; width: 100%;">If you have questions or concerns about our use of your Personal and Project Information, please contact us at:</p>
            <p style="margin-left: 0px; margin-bottom: 0px;width: 100%;">Good Faith (LLC),</p>
            <p style="margin-left: 0px; margin-bottom: 0px;width: 100%;">303, 3rd Floor, Qusais Plaza, Al Qusais 1st, Dubai, UAE.</p>
            <p style="margin-left: 0px;width: 100%;">GF@GoodFaith.LLC<br>
                +M: +971 – 55 368 8580, P: +971 – 4 349 6860.
                </p>
            </div>
        </div>
    </section>
</div>
</main>
