<div class="conatiner">
  <nav class="wafooter">
    <div class="row">
      <div class="col-1 footer-elements" style="text-align: right; padding-right: 0;"><a routerLink="/home/about">
        ABOUT </a>
      </div>
      <div class="col-1" style="margin-top: 1px; padding-left: 5px;">
        <img src=" /assets/images/footer-logo.png" id="icon" alt="User Icon"
          style="margin: 0px 0px  0px  0px; max-height: 40px; max-width: 40px; ">
      </div>
      <div class="col footer-elements"><a routerLink="/home/faq">
        FAQ </a>
      </div>
      <div class="col footer-elements"><a routerLink="/home/terms-of-use">
        TERMS OF USE </a>
      </div>
      <div class="col footer-elements"><a routerLink="/home/privacy">
        PRIVACY POLICY </a>
      </div>
      <div class="col footer-elements"><a (click)="openNewTab('/home/contact')">
        CONTACT </a>
      </div>
    </div>

  </nav>

</div>
