
<!-- Background image-->

<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(48, 84, 150, 0.8);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white" style="font-weight: bolder">
            <br>
            <br>
            <br>
            <h5 class="mb-4" style = "color: #305496">HOME</h5>
            <br>
            <h1 class="mb-3">Good Faith Develops Web Applications</h1>
            <h5 class="mb-4" style = "color: #305496">for</h5>
            <h1 class="mb-3" style = "color:#fbb335">Simplifying Contract Expert Tasks</h1>
            <br>
      
            <br>
            <p style = "font-size: 25px;">Good Faith's Web Applications (web-based software) helps the professionals to carry out the contract expert tasks.</p>
            <!--<a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
            rel="nofollow" target="_blank">Start tutorial</a>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
            role="button">Download MDB UI KIT</a> -->
        </div>
        </div>
    </div>
</div>


<main class="mt-5">
    
      <!--Section: Content 1-->
      
      <div class="mask" style="background-color: rgba(48, 84, 150, 0);">
      <section>
        <div class="row">
          <div class="col-md-5 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 CA1" data-mdb-ripple-color="light">
              <img src="../../../assets/images/ClaimDD.svg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-7 gx-5 mb-4 CA1" style = "color: #104a90;">
            <h2><strong>Launching Application</strong></h2>
            <p> <strong>ClaimDD</strong> is our first web application that helps contract party to evaluate the cost<strong> (Cost Evaluation)</strong> incurred due to delay and/or disruption in the project and generate necessary claim justification report <strong>(Cost Claim Report)</strong>. The contract party can prepare the Cost Evaluation under <strong>nine (9) claims headings</strong> and <strong> eighteen (18) cost headings</strong>. 
               
            </p>
            
            <p>
              The Cost Evaluation and Cost Claim Report can be prepared for any Event <strong>then and there</strong>. Thus, it can help to present the delay and/or disruption claim whenever needed. <a style="font-size: 20px;" routerLink="/home/overview">Know more…</a>
            </p>
          </div>
        </div>
      </section>
      </div>
      <!--Section: Content 2-->
      <div class="mask" style="background-color: rgba(48, 84, 150, 0.1);">
      <section>
      
        <div class="row">
          <div class="col-md-7 gx-5 mb-4 CA1" style = "color: #104a90;">
            <h2><strong>Comming Soon .....</strong></h2>
            <p>
                <strong>RightsBOQ</strong> is a Web Application that helps to evaluate whether an Offeree (e.g., Employer/Client) has <strong>a right to omit the item</strong> that is stated/measured in the Bill of Quantity but not shown in the drawing and specification ("Item").
            </p>
            
            <p>
              It is coming soon. Please keep an eye on it.
            </p>
          </div>
     
        <div class="col-md-5 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 CA1" data-mdb-ripple-color="light">
              <img src="../../../assets/images/RightsBOQ.svg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
        </div>
      </div>
   
    </section>
    </div>
      <!--Section: Content 3-->
      <div class="mask" style="background-color: rgba(48, 84, 150, .01);">
      <section>
        <div class="row">
          <div class="col-md-5 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 CA1" data-mdb-ripple-color="light">
              <img src="../../../assets/images/home-img-3.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-7 gx-5 mb-4 CA1" style = "color: #104a90;">
            <br>
            <h2><strong>Looking for...</strong></h2>
            <p>
                <strong>Good Faith</strong> believes that its expertise in contract, legal, analytical, and software programming can help develop the Web Application (Software) for any complex contract, commercial, and claim tasks for which no software exists.
            </p>
            
            <p>
                Thus, we are constantly looking for such complex contract tasks. If you and your team come across any, please feel free to <a routerLink="/home/contact">contact us</a>.
            </p>
          </div>
        </div>
      </section>
    </div>

</main>
      <!--Section: Content-->



