<!-- Background image-->
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(48, 84, 150, 0.2);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white" style="font-weight: bolder">
            <br>
            <br>
            <br>
            <h5 class="mb-4" style = "color: #305496">ABOUT</h5>
            <br>
            <h1 class="mb-3">Good Faith</h1>
            <h5 class="mb-4" style = "color: #305496">has</h5>
            <br>
            <h1 class="mb-3" style = "color:#fbb335">Contract Audit Bureau</h1>
            <h5 class="mb-4" style = "color: #305496">and</h5>
            <h1 class="mb-3" style = "color:#fbb335">Contract Software Bureau</h1>
            <br>
            <br>
            <br>
            <!--<p style = "font-size: 25px;">Good Faith's Web Applications (web-based software) helps the professionals to carry out the contract expert tasks.</p>
            <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
            rel="nofollow" target="_blank">Start tutorial</a>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
            role="button">Download MDB UI KIT</a> -->
        </div>
        </div>
    </div>
</div>


<main class="mt-5">
    
    <!--Section: Content 1-->
    <div class="mask" style="background-color: rgba(48, 84, 150, 0);">
    <section>
    
      <div class="row">
        <div class="col-md-7 gx-5 mb-4 CA1" style = "color: #104a90;">
          <h2><strong>Constract Software Bureau</strong></h2>
          <p><strong>Good Faith – Contract Software Bureau </strong> – is a department of Good Faith (LLC). It develops web-based software ("Web Application") for <strong>simplifying contract expert tasks</strong> when administrating the construction project. Thus, Contract Party's representatives <strong>(who does not need to be an Expert)</strong> can complete the contract tasks such as evaluating cost and justifying the contractual rights like the experts. Moreover, the claim can be prepared and justified then and there. Thus, the Contract Party shall get an enormous benefit.</p>
          <p>Good Faith believes it would pave the way for creating a universal platform for carrying out contract expert tasks. Thus, it would bring incredible benefits, mainly minimising the construction industry's conflicts and disputes.</p> 
          <p>Good Faith's first web application is <strong>ClaimDD</strong>. <a routerLink="../overview">Know more…</a></p>
        </div>
   
      <div class="col-md-5 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-3 CA1" data-mdb-ripple-color="light">
            <img src="../../../assets/images/content-image-1.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
      </div>
    </div>
 
  </section>
  </div>
    <!--Section: Content 2-->
    
    <div class="mask" style="background-color: rgba(48, 84, 150, 0.1);">
      <section>
        <div class="row">
          <div class="col-md-5 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 CA1" data-mdb-ripple-color="light">
              <img src="../../../assets/images/content-area-img-2.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>
  
          <div class="col-md-7 gx-5 mb-4 CA1" style = "color: #104a90;">
            <h2><strong>CONTRACT AUDIT BUREAU</strong></h2>
            <p><strong>Good Faith</strong> is a limited liability company that is specially established to provide the <strong>Contract Auditing Services</strong>. This department is identified as Contract Audit Bureau. Moreover, it provides Contract Management Services, including Claims and Dispute Management and Contract Counsel Programme. </p> 
            <p>More about Good Faith – Contract Audit Bureau - can be found at <a href="https://www.goodfaith.llc/" target="_blank"> www.GoodFaith.LLC</a>.</p>
          </div>
        </div>
      </section>
      </div>
  
</main>



